fastapi
uvicorn
langchain==0.2.16
langchain-openai==0.1.23
langchain-core==0.2.41
langchain-community==0.2.16
chromadb
beautifulsoup4
requests
confluent-kafka
pydantic-settings
python-dotenv
langgraph